{
  "github_token": "ghp_your_personal_access_token",
  "repositories": [
    {"owner": "vim", "repo": "vim"},
    {"owner": "vim", "repo": "vim-win32-installer"},
    {"owner": "vim", "repo": "vim-appimage"},
  ]
}
